v01/orm/models/Buildings_V1.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.interlis.ch/INTERLIS2.3" xmlns:ili2c="http://www.interlis.ch/ili2c" targetNamespace="http://www.interlis.ch/INTERLIS2.3" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:appinfo source="http://www.interlis.ch/ili2c/ili2cversion">4.5.17-20150910</xsd:appinfo>
    <xsd:appinfo source="http://www.interlis.ch/ili2c">
      <ili2c:model>Buildings_V1</ili2c:model>
      <ili2c:modelVersion>2015-11-03</ili2c:modelVersion>
      <ili2c:modelAt>mailto:stefan.ziegler@bd.so.ch</ili2c:modelAt>
      <ili2c:textMinimalCharset>ili23AnnexB</ili2c:textMinimalCharset>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="TRANSFER" type="Transfer"/>
  <xsd:simpleType name="IliID">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([a-zA-Z_][0-9a-zA-Z_\-\.]*:)?[0-9a-zA-Z_][0-9a-zA-Z_\-\.]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Transfer">
    <xsd:sequence>
      <xsd:element name="HEADERSECTION" type="HeaderSection"/>
      <xsd:element name="DATASECTION" type="DataSection"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Models">
    <xsd:sequence>
      <xsd:element name="MODEL" type="Model" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Model">
    <xsd:attribute name="NAME" type="INTERLIS.NAME" use="required"/>
    <xsd:attribute name="VERSION" type="xsd:string" use="required"/>
    <xsd:attribute name="URI" type="xsd:anyURI" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="RoleType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="REF" type="IliID" use="required"/>
        <xsd:attribute name="BID" type="IliID"/>
        <xsd:attribute name="ORDER_POS" type="xsd:positiveInteger"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DataSection">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="Buildings_V1.Buildings" type="Buildings_V1.Buildings"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Buildings_V1.Buildings.Coord2">
    <xsd:sequence>
      <xsd:element name="COORD" type="CoordValue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Buildings_V1.Buildings.Roof_types">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="shed"/>
      <xsd:enumeration value="terrace"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType  name="Buildings_V1.Buildings.Address">
    <xsd:sequence>
      <xsd:element name="House_number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Street_name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="255"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="RegBL_EGID" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="999999999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType  name="Buildings_V1.Buildings.Administration">
    <xsd:sequence>
      <xsd:element name="Department_name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="Buildings_V1.Buildings.Building">
    <xsd:sequence>
      <xsd:element name="Storeys">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="99"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Roof" type="Buildings_V1.Buildings.Roof_types" minOccurs="0"/>
      <xsd:element name="Addresses" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Buildings_V1.Buildings.Address" type="Buildings_V1.Buildings.Address" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Geometry">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SURFACE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="BOUNDARY" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="POLYLINE" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:choice minOccurs="2" maxOccurs="unbounded">
                              <xsd:element name="COORD" type="CoordValue"/>
                              <xsd:element name="ARC" type="ArcPoint"/>
                            </xsd:choice>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="Buildings_V1.Buildings.AdministrativeBuilding">
    <xsd:sequence>
      <xsd:element name="Storeys">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="99"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Roof" type="Buildings_V1.Buildings.Roof_types" minOccurs="0"/>
      <xsd:element name="Addresses" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Buildings_V1.Buildings.Address" type="Buildings_V1.Buildings.Address" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Geometry">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SURFACE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="BOUNDARY" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="POLYLINE" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:choice minOccurs="2" maxOccurs="unbounded">
                              <xsd:element name="COORD" type="CoordValue"/>
                              <xsd:element name="ARC" type="ArcPoint"/>
                            </xsd:choice>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Department" minOccurs="0">
        <xsd:complexType>
          <xsd:attribute name="REF" type="IliID" use="required"/>
          <xsd:attribute name="BID" type="IliID"/>
          <xsd:attribute name="ORDER_POS" type="xsd:positiveInteger"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="Buildings_V1.Buildings.ApartmentBuilding">
    <xsd:sequence>
      <xsd:element name="Storeys">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="99"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Roof" type="Buildings_V1.Buildings.Roof_types" minOccurs="0"/>
      <xsd:element name="Addresses" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Buildings_V1.Buildings.Address" type="Buildings_V1.Buildings.Address" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Geometry">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SURFACE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="BOUNDARY" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="POLYLINE" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:choice minOccurs="2" maxOccurs="unbounded">
                              <xsd:element name="COORD" type="CoordValue"/>
                              <xsd:element name="ARC" type="ArcPoint"/>
                            </xsd:choice>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Apartments">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="99"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Buildings_V1.Buildings">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="Buildings_V1.Buildings.Administration" type="Buildings_V1.Buildings.Administration"/>
        <xsd:element name="Buildings_V1.Buildings.AdministrativeBuilding" type="Buildings_V1.Buildings.AdministrativeBuilding"/>
        <xsd:element name="Buildings_V1.Buildings.ApartmentBuilding" type="Buildings_V1.Buildings.ApartmentBuilding"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="BID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="CoordValue">
    <xsd:sequence>
      <xsd:element name="C1" type="xsd:double"/>
      <xsd:element name="C2" type="xsd:double" minOccurs="0"/>
      <xsd:element name="C3" type="xsd:double" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArcPoint">
    <xsd:sequence>
      <xsd:element name="C1" type="xsd:double"/>
      <xsd:element name="C2" type="xsd:double"/>
      <xsd:element name="C3" type="xsd:double" minOccurs="0"/>
      <xsd:element name="A1" type="xsd:double"/>
      <xsd:element name="A2" type="xsd:double"/>
      <xsd:element name="R" type="xsd:double" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="INTERLIS.NAME">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="HeaderSection">
    <xsd:sequence>
      <xsd:element name="MODELS" type="Models"/>
      <xsd:element name="COMMENT" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="VERSION" type="xsd:decimal" use="required" fixed="2.3"/>
    <xsd:attribute name="SENDER" type="xsd:string" use="required"/>
  </xsd:complexType>
</xsd:schema>
